.counter-container {
    align-items: center;
    display: flex;
    flex: 1;
}

.counter-button {
    align-content: center;
    display: flex;
    margin: 2rem;
}

.counter-sum {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 1.5rem;
}
